@use "../abstract/mixins" as mx;

.card {
  background-color: skyblue;

  &__title {
    color: red;
  }

  &__text {
    color: whitesmoke;

    &--highlight {
      color: purple;
    }
  }

  &__btn {
    font-size: 24px;
    color: whitesmoke;

    &--primary {
      background-color: seagreen;
    }

    &--secondary {
      background-color: lightcoral;
    }
  }

  @include mx.respond($min-size: zero, $max-size: s) {
    font-size: 10px;
  }
}
